:root * {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

img {
    display: block;
}

figure {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* Fonts */

html {
    line-height: var(--lh);
}



body {
    font-family: var(--font-text);
    color: var(--font-gen-color);
    line-height: 1.6rem;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-header);
    color: var(--font-header-color);
}

.header {
    display: flex;
    flex-direction: column;

    &__logo {
        font-size: 1.3rem;
    }

    .nav {

        &__list {

            &-item {

            }
        }

    }
}

.btn {
    cursor: pointer;
    border: none;
    border-radius: 10rem;
    background-color: var(--primary-color);
    padding: 0.5rem 1rem;
    color: var(--main-color);
    text-align: center;
    transition: all .3s;

    &:focus,
    &:active {
        outline: none;
        border: 0;
    }

    &:hover {
        transform: scale(1.1);
    }
    &:active {
        transform: scale(2);
        background-color: transparent;
    }

    
}

.focus {
    background-color: var(--focus-bg-color);
    border-radius: 1rem;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.13);
}
