body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.header {
    margin: 0 auto;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2000;

}

.nav {
    margin: 1rem 0;
}

.main {
    max-width: 1250px;
    margin: 0 auto;

}


main {
    margin-top: 5rem;
}

